@import "../../App.scss";

.OnlineArticle {
  background-color: $white;

  .content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 50px;
    h2 {
      font-size: 5vh;
      font-weight: normal;
      text-align: left;
      color: $secondary;
      padding-bottom: 10px;
    }
    p {
      font-size: 3vh;
      margin-bottom: 50px;
      text-align: left;
    }
    ul {
      list-style: disc inside none !important;
      display: inline;
    }
    ol {
      list-style: lower-roman inside none !important;
      display: inline;
    }
    li {
      font-weight: normal;
      font-size: 3vh;
      margin-bottom: 10px;
    }
    .supplement{
      max-width: 70%;
  height: auto;
      align-self: center;
      padding: 1vh;
    }
  }
}
