@import "../../App.scss";

#content {
  background-color: $white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 1vh;
  padding-right: 1vh;
  h1 {
    font-size: 4vh;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: $primary;
    text-align: center;
  }
  h2 {
    font-size: 4vh;
    font-weight: normal;
    margin-top: 2vh;
    margin-bottom: 2vh;
    text-align: center;
  }
  p {
    font-size: 2.3vh;
    margin-top: 10px;
    text-align: center;
  }
  ul {
    list-style: disc inside none !important;
    display: inline;
  }
  li {
    font-weight: normal;
    font-size: 3vh;
    margin-bottom: 10px;
    margin-left: 5vh;
  }

  #imgContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    img {
      transition-duration: 400ms;
      width: 50vh;
      height: 50vh;
      min-width: 20vw;
      min-height: 30vh;
      object-fit: scale-down;
      border-radius: 1vh;
      padding-top: 5vh;
    }
    img:hover {
      width: 55vh;
      height: 55vh;
    }
  }

  #contactCard {
    transition-duration: 400ms;
    background-color: $primary;
    color: $black;
    padding-bottom: 30px;
    padding-top: 10px;
    width: 40vh;
    border-radius: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 0.5vh solid $black;
    -webkit-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 23px -6px rgba(0, 0, 0, 0.75);
    margin-top: 30px;
    h2 {
      font-size: 4vh;
      padding: 0;
    }
    a {
      color: $black;
      transition-duration: 400ms;
    }
    a:hover {
      color: $white;
    }

    img {
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      border-radius: 10px;
      border: 1px solid $black;
    }
    .iconContainer {
      display: flex;
      flex-direction: column;
      align-content: center;
      padding: 1vh;
    }
    .icon {
      align-self: center;
      height: 5vh;
      width: 5vh;
    }
  }

  #contactCard:hover {
    -webkit-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 10px 10px 5px 0px rgba(0, 0, 0, 0.75);
    margin-top: 55px;
  }

  @media screen and (min-width: 1025px) {
    h2 {
      padding-left: 5vh;
      text-align: left;
    }
    display: inline;
    #contactCard {
      float: right;
      margin: 50px;
      p {
        margin-left: 0;
      }
    }
    p,
    h1 {
      margin-left: 50px;
      text-align: left;
    }
  }
}
