@import "../../App.scss";

#content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  h1 {
    font-size: 9vw;
    font-weight: normal;
    text-decoration: underline;
    text-decoration-color: $primary;
    text-align: center;
  }
  p {
    font-size: 3vh;
    margin-top: 10px;
    text-align: center;
  }

  #contactCard {
    background-color: $secondary;
    color: $white;
    padding: 10px 0px;
    width: 40vh;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    border: 1px solid $primary;

    margin-top: 30px;
    a {
      color: $white;
      transition-duration: 400ms;
    }
    a:hover {
      color: $primary;
    }

    img {
      width: 30vh;
      height: 30vh;
      object-fit: cover;
      border-radius: 10px;
      border: 1px solid $primary;
    }
    .icon {
      height: 5vh;
      width: 5vh;
    }
  }

  @media screen and (min-width: 768px) {
    display: inline;
    #contactCard {
      float: right;
      margin: 50px;
    }
    p,
    h1 {
      margin-left: 50px;
      text-align: left;
    }
  }
}
