@import "../../App.scss";
.MyBook {
  background-color: $white;
  #textSection {
    margin: 10vh;
    font-size: 3vh;
    p {
      margin-bottom: 20px;
    }
  }
}
#title {
  font-size: 8vh;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: $primary;
  text-align: left;
}
#subtitle {
  font-weight: normal;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 4vh;
}
