@import "../../App.scss";
.MyBook {
  background-color: $white;
  #textSection {
    margin: 10vh;
    font-size: 3vh;
    p {
      margin-bottom: 20px;
      font-size: 2vh;
    }
    ul {
      display: flex;
      flex-direction: column;
    }
    li {
      font-size: 2vh;
      list-style-type: disc;
      list-style-position: inside;
      display: list-item;
      font-weight: normal;
    }
    h3 {
      font-size: 5vh;
      font-weight: normal;
      margin-top: 2vh;
      margin-bottom: 2vh;
      text-align: left;
    }
  }
}
#topTextContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  .textContainer {
    max-width: 700px;
  }
}

#imgContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  img {
    transition-duration: 400ms;
    width: 50vh;
    height: 50vh;
    min-width: 20vw;
    min-height: 30vh;
    object-fit: scale-down;
    border-radius: 1vh;
    padding-top: 5vh;
  }
  img:hover {
    width: 55vh;
    height: 55vh;
  }
}
#title {
  font-size: 8vh;
  font-weight: normal;
  text-decoration: underline;
  text-decoration-color: $primary;
  text-align: left;
}
#subtitle {
  font-weight: normal;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 4vh;
}
