@import "../../App.scss";

.Publications {
  background-color: $white;
  #content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    #online,
    #printed {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      width: 100vw;
      padding: 10px;
      .listHeader {
        font-size: 10vh;
        text-align: center;
        text-decoration: underline;
        text-decoration-color: $primary;
      }
    }

    @media screen and (min-width: 1000px) {
      #online,
      #printed {
        max-width: 40vw;
      }
    }
  }
}
