@import "../../App.scss";

li {
  padding: 5px 10px;
  font-size: 5vw;
}

a,
a:link,
a:visited {
  color: $black;
  text-decoration: none;
}

a:hover,
a:active {
  transition-duration: 400ms;
  color: $white;
}

a.focus {
  color: $white;
}

#menuButton {
  font-size: 30px;
  margin-right: 30px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  float: right;
  border-radius: 0px;
}

button {
  background-color: $secondary;
  color: $white;
  border-radius: 20px;
  padding: 5px;
  font-size: 5vw;
  transition-duration: 400ms;
  outline: none;
  border: 2px solid $secondary;
}

button:hover {
  background-color: $white;
  color: $secondary;
  border: 2px solid $secondary;
  cursor: pointer;
}

.Navbar {
  background-color: $primary;
  width: 100%;
  color: $secondary;
  padding: 10px;
  position: fixed;
  z-index: 10;
}
ul {
  overflow: hidden;
  list-style-type: none;
  font-weight: bold;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.show-nav {
  max-height: 1000px;
  transition: max-height 400ms ease-in;
}

.hide-nav {
  max-height: 0;
  transition: max-height 400ms ease-out;
}

@media screen and (min-width: 768px) {
  #menuButton {
    display: none;
  }
  button {
    font-size: 2vw;
    width: 2vw * 4;
    padding: 0;
  }
  ul {
    justify-content: center;
  }
  li {
    padding: 0 15px;
    font-size: 2vw;
  }

  .hide-nav,
  show-nav {
    max-height: 500px;
  }
}
