//Shared color scheme
$primary: #df3c41;
$primaryTrans: rgba(223, 60, 65, 0.7);
$secondary: #fff8f9;
$white: #f2f2f2;
$black: #000000;

* {
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}
p,
li,
a {
  font-family: Arial, Helvetica, sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: Playfair-Display, serif, Times;
}

body {
  background-color: $white;
}

.verticalAlignFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
