//Shared color scheme
$primary: #df3c41;
$primaryTrans: rgba(223, 60, 65, 0.7);
$secondary: #fff8f9;
$white: #f2f2f2;
$black: #000000;

* {
  font-family: Playfair-Display, serif, Times;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
}

body {
  background-color: $white;
}

.verticalAlignFlex {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
